<!DOCTYPE html>
<html>

<head>
  <title>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
</head>

<body>
  <header class="mb-4">
    <nav class="navbar navbar-expand-sm navbar-light bg-light mt-3 mb-3">
      <a class="navbar-brand" href="/">Node.js課題</a>

      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav-bar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="nav-bar">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav">
          <% if (session.login) { %>
            <li class="nav-item mr-2" href="#"><a href="/">ログアウト</a></li>
          <% } else { %>
            <li class="nav-item mr-2" href="#"><a href="/">Login</a></li>
            <li class="nav-item" href="#"><a href="/register">Register</a></li>
          <% } %>
        </ul>
      </div>
    </nav>
    <div class="card mx-auto">
      <div class="card-header">
        <% if (session.login) { %>
          Dashboard
        <% } else { %>
          Login
        <% } %>
      </div>
      <p><%- content %></p>
      <div class="card-body">
        <% if (session.login) { %>
          <% if (session.username) { %>
            <p>ようこそ、<%= session.username %>さん！</p>
          <% } else { %>
            <p>You are logged in!</p>
          <% } %>
        <% } else { %>
          <form action="/" method="post">
            <div class="row mb-3">
              <label for="inputEmail" class="col-sm-2 col-form-label">E-Mail Address</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail" name="mail">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" name="password">
              </div>
            </div>
            <div class="container form-check mb-3">
              <input type="checkbox" class="form-check-input" id="name">
              <label class="form-check-label" for="exampleCheck1">Remember Me</label>

            </div>
            <div class="form-submit text-center">
              <button type="submit" class="btn btn-primary ">Login</button>
              <a href="#">Forgot Your Password</a>
            </div>


          </form>
          <% } %>
      </div>
    </div>

  </header>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>

</body>

</html>